<html>
  <head>
    <title>Add Doctors</title>
  </head>
  <body>
      <a href="/">Log in</a>
  	 <h1>Add a Doctor</h1>
    
      <form action="/doctors/add" method=GET>
        <label>Patient ID</label>
        <input name="patient-id"/>
        <p></p>
        <label>Doctor name</label>
        <input name="doctor-name"/>
        <p></p>
        <label>Phone Number</label>
        <input name="d-phone-no"/>
        <p></p>
        <input type=submit value="Submit"/>
      </form>
  </body>
</html>