<!-- <html>
  <head>
    <title>Add Sailor</title>
  </head>
  <body>
    <li><a href="/">Homepage</a></li>
  	 <h1>Add a Sailor</h1>
  	 
        <form action="/sailors/add" method=GET>
          <label>Sailor name</label>
          <input name="sailor-name"/>
          <label>Sailor age</label>
          <input name="sailor-age"/>
          <label>Sailor experience</label>
          <input name="sailor-experience"/>
          <input type=submit value="Submit"/>
        </form>
    

  </body>
</html> -->