<html>
  <head>
    <title>Add an Appoinment</title>
  </head>
  <body>
      <a href="/">Log in</a>
  	 <h1>Add an Appointment</h1>
  	 	
        <form action="/appointments/add" method=GET>
          <label>Doctor ID</label>
          <input name="doctor-id"/>
          <p></p>
          <label>Nurse ID</label>
          <input name="nurse-id"/>
          <p></p>
          <label>Patient ID</label>
          <input name="patient-id"/>
          <p></p>
          <label>Appointment Date</label>
          <input name="appointment-date"/>
          <p></p>
          <label>Appointment Time</label>
          <input name="appointment-time"/>
          <p></p>
          <label>Appointment Type</label>
          <input name="appointment-type"/>
          <p></p>
          <label>Room Number</label>
          <input name="room-number"/>
          <p></p>
          <input type=submit value="Submit"/>
        </form>
     

  </body>
</html>

