<html>
  <head>
    <title>Add Patients</title>
  </head>
  <body>
      <a href="/">Log in</a>
  	 <h1>Add a Patient</h1>
  	 	
        <form action="/patients/add" method=GET>
          <label>Patient name</label>
          <input name="patient-name"/>
          <p></p>
          <label>Date of Birth</label>
          <input name="date-of-birth"/>
          <p></p>
          <label>Gender</label>
          <input name="patient-gender"/>
          <p></p>
          <label>Phone Number</label>
          <input name="phone-no"/>
          <p></p>
          <label>Address</label>
          <input name="phone-address"/>
          <p></p>
          <label>Medical History</label>
          <input name="med-history"/>
          <p></p>
          <input type=submit value="Submit"/>
        </form>
     

  </body>
</html>