<html>
  <head>
    <title>Reschedule Appoinment</title>
  </head>
  <body>
      <a href="/">Log in</a>
     <h1>Reschedule Appointment</h1>
        <form action="/appointments/edit" method=GET>
          <p></p>
          <label>Appointment ID</label>
          <input name="aid"/>
          <p></p>
          <label>Appointment Date</label>
          <input name="appointment-date"/>
          <p></p>
          <label>Appointment Time</label>
          <input name="appointment-time"/>
          <p></p>
          <label>Room Number</label>
          <input name="room-number"/>
          <p></p>
          <input type=submit value="Submit"/>
        </form>  

  </body>
</html>

