<html>
  <head>
    <title>Hospital Management System</title>
  </head>
  <body>
       <div>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
    </div>
    <h1>Operations</h1>
    <ol>
      <li><a href="/patients/add">add a patient</a></li>
      <li><a href="/nurses/add">add a nurse</a></li>
      <li><a href="/appointments/add">add an appointment</a></li>
    </ol>
    <h1>Views</h1>
    <ol>
      <li><a href="/patients">Patient</a></li>
      <li><a href="/doctors">Doctor</a></li>
      <li><a href="/nurses">Nurse</a></li>
      <li><a href="/appointments">Appointment</a></li>
    </ol>
  </body>
</html>

