<html>
  <head>
    <title>Hospital Management System</title>
  </head>
  <body>
    <h1>Operations</h1>
    <ol>
      <li><a href="/patients/add">add a patient</a></li>
      <li><a href="/doctors/add">add a doctor</a></li>
      <li><a href="/nurses/add">add a nurse</a></li>
    </ol>
    <h1>Views</h1>
    <ol>
      <li><a href="/patients">Patient</a></li>
      <li><a href="/doctors">Doctor</a></li>
      <li><a href="/nurses">Nurse</a></li>
      <li><a href="/appointments">Appointment</a></li>
      <li>
        <form action="/patients/view-med-history" method=GET>
          <label>Patient's medical history</label>
          <input name="medical-history"/>
          <input type=submit value="View medical history"/>
        </form>
      </li>
      <!-- <li>
        <form action="/sailors/who-sailed" method=GET>
          <label>boat name</label>
          <input name="boat-name"/>
          <input type=submit value="sailors who sailed boat"/>
        </form>
      </li>
      <li>
        <form action="/sailors/who-sailed-on-date" method=GET>
          <label>date</label>
          <input name="date"/>
          <input type=submit value="sailors who sailed on date"/>
        </form>
      </li>
      <li>
        <form action="/sailors/who-sailed-on-boat-of-color" method=GET>
          <label>color</label>
          <input name="color"/>
          <input type=submit value="sailors who sailed on boat of color"/>
        </form>
      </li>
      <li><a href="/boats/by-popularity">boats by popularity</a></li>  -->
    </ol>
  </body>
</html>

